* {
  text-align: center;
}

header {
  margin-top: 20px;
}

header p {
  margin-top: -10px;
}

.data {
  color: green;
  font-size: 1.2em;
}

.datazip {
  color: red;
  font-size: 2em;
}

#results {
  margin-bottom: 50px;
  margin-top: 30px;
}
